@import url(https://fonts.googleapis.com/css?family=Fjalla+One);@import url(https://fonts.googleapis.com/css?family=Barlow:300,400,500,700);/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i, em,
section, img, div, h2, p, form, h3, h4,
fieldset, label, input, textarea,
span, article, footer, time, small, select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button,
select {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 72px;
  text-transform: uppercase; }

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 56px;
  text-transform: uppercase; }

h3 {
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-size: 32px;
  text-transform: uppercase; }

h4 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px; }

span {
  font-family: 'Barlow', sans-serif; }

.display-text {
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 16px; }

a {
  font-family: 'Barlow', sans-serif; }

input[type="text"] {
  font-family: 'Barlow', sans-serif; }

input[type="submit"] {
  font-family: 'Barlow', sans-serif;
  padding: 13px 40px;
  text-transform: uppercase;
  font-size: 10px; }

.navbar {
  width: 100%;
  background-color: #E9FBFC; }

.arrow {
  fill: white; }

.titlebar {
  height: 65px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative; }

.search-bar-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box; }

#search-bar-wrapper.sticky {
  top: 0;
  position: fixed;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: white; }

#search-bar-wrapper {
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in;
  overflow: visible; }

.search-input-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 30px; }

.search-bar-input::placeholder {
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 12px; }

.search-bar-input {
  border-bottom: 2px solid;
  padding: 2px 0;
  letter-spacing: 2px; }

.mag-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px; }

.pin-icon {
  height: 18px;
  width: 18px;
  margin: 0 10px; }

.search-categories-wrapper {
  display: flex;
  align-items: center; }

.search-categories-ul {
  margin: 0 10px;
  width: 500px; }

.search-arrow {
  height: 30px;
  width: 30px;
  transition: all .2s ease; }

.search-arrow:hover {
  cursor: pointer;
  fill: #FF4958;
  transform: scale(1.3); }

.h-flip {
  transform: scaleX(-1); }

.h-flip:hover {
  transform: scaleX(-1) scale(1.3); }

.search-categories-ul a {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  line-height: 12px;
  padding: 9px 0;
  font-size: 16px;
  font-weight: 500; }

.search-categories-ul a:hover {
  border-bottom: 3px solid black;
  color: #FF4958; }

.session-links {
  position: absolute;
  right: 14%; }

.session-links a {
  margin-left: 20px;
  border-bottom: 3px solid transparent;
  padding: 7px 0;
  transition: border 200ms linear;
  font-size: 14px; }

.session-links a:hover {
  border-bottom: 2px solid black; }

.homepage {
  height: 3000px; }

.landing-page {
  background-color: #E9FBFC;
  padding: 100px;
  box-sizing: border-box;
  height: 770px;
  position: relative;
  z-index: 400; }

.landing-page-content {
  background-color: white;
  border: 12px solid;
  width: 1000px;
  margin: auto;
  padding: 60px;
  box-sizing: border-box;
  position: relative; }

.landing-page-content span {
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 16px; }

.landing-page-content h1 {
  margin-bottom: 20px; }

.landing-search-wrapper {
  display: flex;
  margin-top: 40px;
  flex-direction: row-reverse; }

.landing-search-wrapper-div {
  display: flex; }

.landing-input::placeholder {
  text-transform: uppercase;
  font-size: 10px; }

.search-term {
  width: 300px; }

.landing-search-button {
  background-color: #211B59;
  color: white;
  z-index: 2000; }

.landing-search-button:hover {
  background-color: #FF4958;
  color: white; }

.landing-search-input-wrapper {
  display: flex;
  border-bottom: 1px solid;
  align-items: center;
  margin-right: 16px; }

.landing-mag-icon {
  width: 10px;
  height: 10px;
  margin-right: 8px; }

.landing-pin-icon {
  width: 10px;
  height: 10px;
  margin-right: 8px; }

.landing-icons {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 80%; }

.landing-shake-fill-1 {
  position: absolute;
  top: -50px;
  right: 40px;
  height: 100px;
  width: 100px;
  fill: #AFECF4;
  transform: rotate(0.05turn); }

.landing-shake-line-1 {
  position: absolute;
  top: -60px;
  right: 34px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.05turn); }

.landing-shake-fill-2 {
  position: absolute;
  bottom: -80px;
  left: -100px;
  height: 100px;
  width: 100px;
  fill: #211B59;
  transform: rotate(0.03turn); }

.landing-shake-line-2 {
  position: absolute;
  bottom: -73px;
  left: -94px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.03turn); }

.landing-open-fill-1 {
  position: absolute;
  right: -180px;
  top: 100px;
  height: 100px;
  width: 100px;
  fill: #FF929B;
  transform: rotate(0.94turn); }

.landing-open-line-1 {
  position: absolute;
  right: -185px;
  top: 90px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.94turn); }

.landing-open-fill-2 {
  position: absolute;
  top: -20px;
  left: -140px;
  height: 100px;
  width: 100px;
  fill: #96FE91;
  transform: rotate(0.04turn); }

.landing-open-line-2 {
  position: absolute;
  top: -24px;
  left: -130px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.04turn); }

.landing-b2B {
  position: absolute;
  transform: rotate(0.03turn);
  height: auto;
  width: auto;
  right: -390px;
  bottom: -250px; }

.auth-dropdown div::before {
  position: absolute;
  content: ' ';
  top: -20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent; }

.auth-dropdown {
  position: absolute;
  top: 40px;
  left: -46px;
  height: 100px;
  width: 200px;
  background: white;
  z-index: 2000;
  border-radius: 1px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }

.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%; }

#google-auth {
  margin: 0;
  font-size: 20px;
  color: white;
  background: #211B59;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  transition: transform .2s ease; }

#google-auth p {
  margin-left: 5px; }

#google-auth:hover {
  background: #FF4958;
  border-bottom: 3px solid transparent;
  transform: scale(1.05); }

#google-auth:focus {
  background: #FF4958;
  border-bottom: 3px solid transparent;
  transform: scale(1.05); }

#google-auth:active {
  transform: scale(1); }

.auth-dropdown {
  opacity: 1;
  /* This keeps the opacity at 1 after the animation has run (e.g. could be considered as the final or default stage of the element) */
  animation: dropdown 200ms ease-in-out normal;
  -moz-animation: dropdown 200ms ease-in-out normal;
  -ms-animation: dropdown 200ms ease-in-out normal;
  -o-animation: dropdown 200ms ease-in-out normal;
  -webkit-animation: dropdown 200ms ease-in-out normal; }

@keyframes dropdown {
  0% {
    height: 0px;
    opacity: 0; }
  50% {
    opacity: .2; }
  100% {
    height: 100px;
    opacity: 1; } }

@-moz-keyframes dropdown {
  0% {
    height: 0px;
    opacity: 0; }
  50% {
    opacity: .2; }
  100% {
    height: 100px;
    opacity: 1; } }

@-ms-keyframes dropdown {
  0% {
    height: 0px;
    opacity: 0; }
  50% {
    opacity: .2; }
  100% {
    height: 100px;
    opacity: 1; } }

@-o-keyframes dropdown {
  0% {
    height: 0px;
    opacity: 0; }
  50% {
    opacity: .2; }
  100% {
    height: 100px;
    opacity: 1; } }

@-webkit-keyframes dropdown {
  0% {
    height: 0px;
    opacity: 0; }
  50% {
    opacity: .2; }
  100% {
    height: 100px;
    opacity: 1; } }

.hidden {
  display: none; }

.business-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 27, 89, 0.35);
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center; }

.scroll-lock {
  overflow: hidden; }

.business-page {
  position: relative;
  height: 80%;
  width: 50%;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 70px;
  padding-bottom: 50px;
  box-sizing: border-box; }

.form-close {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #7a7a7a; }

.business-form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }

.business-form-links {
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #F0EFEF;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }

.business-form-links a {
  position: relative;
  bottom: -6px;
  padding: 10px; }

.selected {
  border-bottom: 6px solid #FF4958; }

.business-form-body {
  display: flex;
  height: 100%;
  width: 100%; }

.business-form-forms {
  flex: 2;
  padding-right: 20px;
  overflow: scroll; }

.business-form-faq {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; }

.faq {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7a7a7a;
  text-align: center; }

.faq span {
  margin-top: 5px;
  font-size: 14px; }

.business-form-title {
  margin: 20px 0px; }

.business-form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 100%; }

.business-form input {
  padding: 5px 3px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 0;
  border-bottom: 1px solid; }

.business-form input::placeholder {
  text-transform: uppercase;
  font-size: 12px; }

.Select {
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  width: 80%;
  margin-right: 10px; }

.Select-input input {
  border-bottom: none;
  margin: 0;
  padding: 0; }

.form-address {
  display: flex;
  width: 100%; }

.city {
  width: 150%; }

.zip {
  width: 90%; }

.services-selector {
  margin-right: 15px; }

.services-selector .Select {
  width: 100%; }

.biz-form-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-right: 0; }

.biz-form-cancel {
  font-size: 12px;
  margin-left: 30px;
  padding: 5px 0px;
  border-bottom: 1px solid transparent; }

.biz-form-cancel:focus,
.biz-form-cancel:hover {
  border-bottom: 1px solid; }

.biz-form-button {
  background: #BEF2F7;
  border-radius: 1px;
  padding: 13px 30px;
  text-transform: uppercase;
  font-size: 12px;
  transition: transform .2s ease;
  margin-left: 15px; }

.biz-form-button:focus,
.biz-form-button:hover {
  background: #AFECF4;
  transform: scale(1.05); }

.biz-form-button:active {
  transform: scale(1); }

.business-form-details {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-bottom: 15px; }

.details-textarea {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  height: 70px;
  width: 100%;
  border: 1px solid #F0EFEF;
  border-radius: 3px;
  padding: 5px; }

.day {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column; }

.hours {
  padding-bottom: 3px; }

.avail-range {
  display: flex; }

.closed {
  margin-left: 5px; }

.closed:hover {
  cursor: pointer; }

.results-index {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 1000px;
  min-width: 500px;
  align-items: center; }

.results-index-item {
  display: flex;
  width: 90%;
  margin: 20px 20px 0 20px;
  border: 1px solid #F0EFEF;
  box-sizing: border-box; }

.results-index-item-text {
  width: 100%; }

.results-index-thumbnail {
  width: 240px;
  height: 202px;
  display: auto;
  object-fit: cover; }

.category-contact {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .category-contact div {
    position: relative;
    left: 30px; }
  .category-contact .contact-button {
    background: #7A769B;
    position: relative;
    right: 30px; }

.homepage {
  height: 3000px; }

.landing-page {
  background-color: #E9FBFC;
  padding: 100px;
  box-sizing: border-box;
  height: 770px;
  position: relative;
  z-index: 400;
  width: 100%; }

.landing-page-content {
  background-color: white;
  border: 12px solid;
  width: 1000px;
  margin: auto;
  padding: 60px;
  box-sizing: border-box;
  position: relative; }

.landing-page-content h1 {
  margin-bottom: 20px; }

.landing-search-wrapper {
  display: flex;
  margin-top: 40px;
  flex-direction: row-reverse;
  position: relative; }

.landing-search-wrapper-div {
  display: flex; }

.landing-input::placeholder {
  text-transform: uppercase;
  font-size: 10px; }

#search-term {
  width: 300px; }

.landing-search-button {
  background-color: #211B59;
  color: white;
  z-index: 2000;
  transition: transform .2s ease; }

.landing-search-button:hover {
  background-color: #FF4958;
  color: white;
  transform: scale(1.05); }

.landing-search-button:focus {
  background-color: #FF4958;
  color: white;
  transform: scale(1.05); }

.landing-search-button:active {
  background-color: #FF4958;
  color: white;
  transform: scale(1); }

.landing-search-input-wrapper {
  display: flex;
  border-bottom: 1px solid;
  align-items: center;
  margin-right: 16px; }

.landing-mag-icon {
  width: 10px;
  height: 10px;
  margin-right: 8px; }

.landing-pin-icon {
  width: 10px;
  height: 10px;
  margin-right: 8px; }

.landing-icons {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 80%; }

.landing-shake-fill-1 {
  position: absolute;
  top: -50px;
  right: 40px;
  height: 100px;
  width: 100px;
  fill: #AFECF4;
  transform: rotate(0.05turn); }

.landing-shake-line-1 {
  position: absolute;
  top: -60px;
  right: 34px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.05turn); }

.landing-shake-fill-2 {
  position: absolute;
  bottom: -80px;
  left: -100px;
  height: 100px;
  width: 100px;
  fill: #211B59;
  transform: rotate(0.03turn); }

.landing-shake-line-2 {
  position: absolute;
  bottom: -73px;
  left: -94px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.03turn); }

.landing-open-fill-1 {
  position: absolute;
  right: -180px;
  top: 100px;
  height: 100px;
  width: 100px;
  fill: #FF929B;
  transform: rotate(0.94turn); }

.landing-open-line-1 {
  position: absolute;
  right: -185px;
  top: 90px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.94turn); }

.landing-open-fill-2 {
  position: absolute;
  top: -20px;
  left: -140px;
  height: 100px;
  width: 100px;
  fill: #96FE91;
  transform: rotate(0.04turn); }

@media only screen and (max-width: 1500px) {
  .landing-b2B {
    transform: scale(0.4) rotate(0.03turn);
    right: -180px; } }

.landing-open-line-2 {
  position: absolute;
  top: -24px;
  left: -130px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.04turn); }

.landing-b2B {
  position: absolute;
  transform: rotate(0.03turn);
  height: auto;
  width: auto;
  right: -250px;
  bottom: -120px; }

@media only screen and (max-width: 1500px) {
  .landing-b2B {
    transform: scale(0.4) rotate(0.03turn);
    right: -180px; }
  .landing-open-line-1 {
    transform: rotate(0.94turn) scale(0.8);
    right: -140px; }
  .landing-open-fill-1 {
    transform: rotate(0.94turn) scale(0.8);
    right: -140px; } }

.relative {
  position: relative; }

.landing-autocomplete-index {
  position: absolute;
  top: 45px;
  left: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: 100%; }

.landing-autocomplete-index-item {
  background-color: white;
  padding: 12px 20px; }

.landing-autocomplete-index-item:hover {
  background-color: #FF4958;
  color: white; }

.landing-autocomplete-index-item:active {
  background-color: #FF4958;
  color: white; }

.landing-autocomplete-index-item h4 {
  transition: transform .2s ease; }

.landing-autocomplete-index-item:active h4 {
  transform: scale(0.98); }

.category-icon-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: auto;
  margin: 100px auto; }

.category-icon-text {
  text-align: center;
  margin: 20px 0; }

.icons {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin-top: 20px;
  align-items: baseline; }

.category-icon {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  transition: transform .3s ease; }

.icon-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 7px;
  border-bottom: 3px solid transparent; }

.icon-links-wrapper:hover .category-icon {
  fill: #FF4958;
  transform: scale(1.3); }

.icon-links-wrapper:active .category-icon {
  fill: #FF4958;
  transform: scale(0.95); }

.icon-links-wrapper:hover .icon-link {
  color: #FF4958;
  border-bottom: 3px solid black; }

.icon-links-wrapper:hover {
  cursor: pointer; }

.icon-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px; }

.mission-statement {
  width: 100%;
  height: 75vh;
  position: relative; }

.mission-left-img {
  background: url("https://i.pinimg.com/564x/6e/6d/93/6e6d93836a0fe3c306197b82a6cb5294.jpg");
  background-size: cover;
  background-position: center;
  width: 40vw;
  height: 100%;
  position: relative; }

.mission-right-img {
  background: url("https://i.pinimg.com/564x/36/2f/2a/362f2adcbe33a96f18a64130feae481b.jpg");
  background-size: cover;
  background-position: top;
  width: 40vw;
  height: 100%;
  position: relative;
  float: right; }

.mission-left-text-wrapper {
  width: 30%;
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  background-color: white;
  padding-top: 40px;
  box-sizing: border-box; }

.mission-right-text-wrapper {
  width: 30%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 0;
  background-color: white;
  padding-top: 40px;
  box-sizing: border-box; }

.mission-left-title {
  z-index: 200;
  top: 140px;
  width: 800px;
  margin-left: 40px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 10px solid; }

.mission-right-title {
  z-index: 200;
  top: 140px;
  width: 800px;
  margin-left: -640px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 10px solid; }

.mission-left-text {
  position: absolute;
  z-index: 200;
  width: 750px;
  margin-left: 40px; }

.mission-right-text {
  position: absolute;
  z-index: 200;
  width: 640px;
  margin-left: -580px; }

.statement-right {
  margin: 200px 0; }

.testimonial-slider {
  margin: 50px auto; }

.testimonial {
  position: relative;
  height: 300px;
  margin: 0 10px;
  background-size: cover; }

.testimonial-text-wrapper {
  position: absolute;
  top: 70px;
  margin: 15%;
  padding: 40px;
  background-color: white; }

.testimonial-bname {
  padding-bottom: 10px;
  border-bottom: 6px solid; }

.blank-div {
  height: 200px; }

.testimonials-header {
  padding-bottom: 20px;
  margin-left: 100px;
  border-bottom: 10px solid;
  width: 800px; }

.testimonial-slider-wrapper {
  position: relative; }

.testimonial-arrow {
  position: absolute;
  top: 150px;
  z-index: 200;
  height: 40px;
  width: 40px;
  transition: all .2s ease; }

.testimonial-arrow:hover {
  fill: #FF4958;
  cursor: pointer;
  transform: scale(1.3); }

.h-flip:hover {
  transform: scaleX(-1) scale(1.3); }

.previous {
  left: 20px; }

.next {
  right: 20px; }

.input-range__slider {
  appearance: none;
  background: #C0FEBD;
  border: 1px solid #C0FEBD;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem; }

.input-range__slider:active {
  transform: scale(1.2); }

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none; }

.input-range__slider-container {
  transition: left 0.3s ease-out; }

.input-range__label {
  display: none;
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  top: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }

.input-range__label--max .input-range__label-container {
  left: 50%; }

.input-range__track {
  background: #AFECF4;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; }

.input-range--disabled .input-range__track {
  background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #C0FEBD; }

.input-range {
  height: 1rem;
  position: relative;
  width: 100%; }

/*# sourceMappingURL=style.css.map*/