@import url(https://fonts.googleapis.com/css?family=Fjalla+One);@import url(https://fonts.googleapis.com/css?family=Barlow:300,400,500,700);/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i, em,
section, img, div, h2, p, form, h3, h4,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 72px;
  text-transform: uppercase; }

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 56px;
  text-transform: uppercase; }

h3 {
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-size: 32px;
  text-transform: uppercase; }

h4 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px; }

span {
  font-family: 'Barlow', sans-serif; }

.display-text {
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 16px; }

a {
  font-family: 'Barlow', sans-serif; }

input[type="text"] {
  font-family: 'Barlow', sans-serif; }

input[type="submit"] {
  font-family: 'Barlow', sans-serif;
  padding: 13px 40px;
  text-transform: uppercase;
  font-size: 10px; }

.navbar {
  width: 100%;
  background-color: #E9FBFC; }

.arrow {
  fill: white; }

.titlebar {
  height: 65px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative; }

.search-bar-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box; }

#search-bar-wrapper.sticky {
  top: 0;
  position: fixed;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: white; }

#search-bar-wrapper {
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in;
  overflow: visible; }

.search-input-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 30px; }

.search-bar-input::placeholder {
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 12px; }

.search-bar-input {
  border-bottom: 2px solid;
  padding: 2px 0;
  letter-spacing: 2px; }

.mag-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px; }

.pin-icon {
  height: 18px;
  width: 18px;
  margin: 0 10px; }

.search-categories-wrapper {
  display: flex;
  align-items: center; }

.search-categories-ul {
  margin: 0 10px;
  width: 500px; }

.search-arrow {
  height: 30px;
  width: 30px;
  transition: all .2s ease; }

.search-arrow:hover {
  cursor: pointer;
  fill: #FF4958;
  transform: scale(1.3); }

.h-flip {
  transform: scaleX(-1); }

.h-flip:hover {
  transform: scaleX(-1) scale(1.3); }

.search-categories-ul a {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  line-height: 12px;
  padding: 9px 0;
  font-size: 16px;
  font-weight: 500; }

.search-categories-ul a:hover {
  border-bottom: 3px solid black;
  color: #FF4958; }

.session-links {
  position: absolute;
  right: 14%; }

.session-links a {
  margin-left: 20px;
  border-bottom: 3px solid transparent;
  padding: 7px 0;
  transition: border 200ms linear;
  font-size: 14px; }

.session-links a:hover {
  border-bottom: 2px solid black; }

#page-title {
  transition: all .1s ease; }

#page-title:hover {
  color: #FF4958;
  transform: scale(1.05); }

#page-title:active {
  color: white;
  transform: scale(1); }

.category-carousel {
  margin-right: 20px; }

.results-index {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 1000px;
  min-width: 500px;
  align-items: center; }

.results-index-item {
  display: flex;
  width: 90%;
  margin: 20px 20px 0 20px;
  border: 1px solid #F0EFEF;
  box-sizing: border-box; }

.results-index-item-text {
  width: 100%; }

.results-index-thumbnail {
  width: 240px;
  height: 202px;
  display: auto;
  object-fit: cover; }

.category-contact {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .category-contact div {
    position: relative;
    left: 30px; }
  .category-contact .contact-button {
    background: #7A769B;
    position: relative;
    right: 30px; }

.homepage {
  height: 3000px; }

.landing-page {
  background-color: #E9FBFC;
  padding: 100px;
  box-sizing: border-box;
  height: 770px;
  position: relative;
  z-index: 400;
  width: 100%; }

.landing-page-content {
  background-color: white;
  border: 20px solid;
  width: 1000px;
  margin: auto;
  padding: 60px;
  box-sizing: border-box;
  position: relative; }

.landing-page-content h1 {
  margin-bottom: 20px; }

.landing-search-wrapper {
  display: flex;
  margin-top: 40px;
  flex-direction: row-reverse;
  position: relative; }

.landing-search-wrapper-div {
  display: flex; }

.landing-input::placeholder {
  text-transform: uppercase;
  font-size: 10px; }

#search-term {
  width: 300px; }

.landing-search-button {
  background-color: #211B59;
  color: white;
  z-index: 2000;
  transition: transform .2s ease; }

.landing-search-button:hover {
  background-color: #FF4958;
  color: white;
  transform: scale(1.05); }

.landing-search-button:focus {
  background-color: #FF4958;
  color: white;
  transform: scale(1.05); }

.landing-search-button:active {
  background-color: #FF4958;
  color: white;
  transform: scale(1); }

.landing-search-input-wrapper {
  display: flex;
  border-bottom: 1px solid;
  align-items: center;
  margin-right: 16px; }

.landing-mag-icon {
  width: 10px;
  height: 10px;
  margin-right: 8px; }

.landing-pin-icon {
  width: 10px;
  height: 10px;
  margin-right: 8px; }

.landing-icons {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 80%; }

.landing-shake-fill-1 {
  position: absolute;
  top: -50px;
  right: 40px;
  height: 100px;
  width: 100px;
  fill: #AFECF4;
  transform: rotate(0.05turn); }

.landing-shake-line-1 {
  position: absolute;
  top: -60px;
  right: 34px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.05turn); }

.landing-shake-fill-2 {
  position: absolute;
  bottom: -80px;
  left: -100px;
  height: 100px;
  width: 100px;
  fill: #211B59;
  transform: rotate(0.03turn); }

.landing-shake-line-2 {
  position: absolute;
  bottom: -73px;
  left: -94px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.03turn); }

.landing-open-fill-1 {
  position: absolute;
  right: -180px;
  top: 100px;
  height: 100px;
  width: 100px;
  fill: #FF929B;
  transform: rotate(0.94turn); }

.landing-open-line-1 {
  position: absolute;
  right: -185px;
  top: 90px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.94turn); }

.landing-open-fill-2 {
  position: absolute;
  top: -20px;
  left: -140px;
  height: 100px;
  width: 100px;
  fill: #96FE91;
  transform: rotate(0.04turn); }

@media only screen and (max-width: 1500px) {
  .landing-b2B {
    transform: scale(0.4) rotate(0.03turn);
    right: -180px; } }

.landing-open-line-2 {
  position: absolute;
  top: -24px;
  left: -130px;
  height: 100px;
  width: 100px;
  fill: white;
  transform: rotate(0.04turn); }

.landing-b2B {
  position: absolute;
  transform: rotate(0.03turn);
  height: auto;
  width: auto;
  right: -250px;
  bottom: -120px; }

@media only screen and (max-width: 1500px) {
  .landing-b2B {
    transform: scale(0.4) rotate(0.03turn);
    right: -180px; }
  .landing-open-line-1 {
    transform: rotate(0.94turn) scale(0.8);
    right: -140px; }
  .landing-open-fill-1 {
    transform: rotate(0.94turn) scale(0.8);
    right: -140px; } }

.relative {
  position: relative; }

.landing-autocomplete-index {
  position: absolute;
  top: 45px;
  left: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: 100%; }

.landing-autocomplete-index-item {
  background-color: white;
  padding: 12px 20px; }

.landing-autocomplete-index-item:hover {
  background-color: #FF4958;
  color: white; }

.landing-autocomplete-index-item:active {
  background-color: #FF4958;
  color: white; }

.landing-autocomplete-index-item h4 {
  transition: transform .2s ease; }

.landing-autocomplete-index-item:active h4 {
  transform: scale(0.98); }

.category-icon-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: auto;
  margin: 100px auto; }

.category-icon-text {
  text-align: center;
  margin: 20px 0; }

.icons {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin-top: 20px;
  align-items: baseline; }

.category-icon {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  transition: all .3s ease; }

.icon-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 7px;
  border-bottom: 3px solid transparent; }

.icon-links-wrapper:hover .category-icon {
  fill: #FF4958;
  transform: scale(1.3); }

.icon-links-wrapper:active .category-icon {
  fill: #F0EFEF;
  transform: scale(0.95); }

.icon-links-wrapper:hover .icon-link {
  color: #FF4958;
  border-bottom: 3px solid black; }

.icon-links-wrapper:active .icon-link {
  color: #FF4958;
  border-bottom: 3px solid transparent; }

.icon-links-wrapper:hover {
  cursor: pointer; }

.icon-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px; }

.mission-statement {
  width: 100%;
  height: 75vh;
  position: relative; }

.mission-left-img {
  background: url("https://i.pinimg.com/564x/6e/6d/93/6e6d93836a0fe3c306197b82a6cb5294.jpg");
  background-size: cover;
  background-position: center;
  width: 40vw;
  height: 100%;
  position: relative; }

.mission-right-img {
  background: url("https://i.pinimg.com/564x/36/2f/2a/362f2adcbe33a96f18a64130feae481b.jpg");
  background-size: cover;
  background-position: top;
  width: 40vw;
  height: 100%;
  position: relative;
  float: right; }

.mission-left-text-wrapper {
  width: 30%;
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  background-color: white;
  padding-top: 40px;
  box-sizing: border-box; }

.mission-right-text-wrapper {
  width: 30%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 0;
  background-color: white;
  padding-top: 40px;
  box-sizing: border-box; }

.mission-left-title {
  z-index: 200;
  top: 140px;
  width: 800px;
  margin-left: 40px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 10px solid; }

.mission-right-title {
  z-index: 200;
  top: 140px;
  width: 800px;
  margin-left: -640px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 10px solid; }

.mission-left-text {
  position: absolute;
  z-index: 200;
  width: 750px;
  margin-left: 40px; }

.mission-right-text {
  position: absolute;
  z-index: 200;
  width: 640px;
  margin-left: -580px; }

.statement-right {
  margin: 200px 0; }

.testimonial-slider {
  margin: 50px auto; }

.testimonial {
  position: relative;
  height: 300px;
  margin: 0 10px;
  background-size: cover; }

.testimonial-text-wrapper {
  position: absolute;
  top: 70px;
  margin: 15%;
  padding: 40px;
  background-color: white; }

.testimonial-bname {
  padding-bottom: 10px;
  border-bottom: 6px solid; }

.blank-div {
  height: 200px; }

.testimonials-header {
  padding-bottom: 20px;
  margin-left: 100px;
  border-bottom: 10px solid;
  width: 800px; }

.testimonial-slider-wrapper {
  position: relative; }

.testimonial-arrow {
  position: absolute;
  top: 150px;
  z-index: 200;
  height: 40px;
  width: 40px;
  transition: all .2s ease; }

.testimonial-arrow:hover {
  fill: #FF4958;
  cursor: pointer;
  transform: scale(1.3); }

.h-flip:hover {
  transform: scaleX(-1) scale(1.3); }

.previous {
  left: 20px; }

.next {
  right: 20px; }

/*# sourceMappingURL=style.css.map*/