$purple: #211B59;
$light-purple: #7A769B;
$lightest-purple: #D3D1DE;

$red: #FF4958;
$light-red: #FF929B;
$lightest-red: #FFDBDE;

$blue: #AFECF4;
$light-blue: #BEF2F7;
$lightest-blue: #E9FBFC;

$green: #96FE91;
$light-green: #C0FEBD;
$lightest-green: #EAFFE9;

$gray: #F0EFEF;
$dark-gray: #7a7a7a;
$light-gray: #F9F9F9;
$lightest-gray: #FCFCFC;
