h1 {
  font-family: $header;
  font-size: 72px;
  text-transform: uppercase;
}

h2 {
  font-family: $header;
  font-size: 56px;
  text-transform: uppercase;
}


h3 {
  font-family: $header;
  text-align: left;
  font-size: 32px;
  text-transform: uppercase;
}

h4 {
  font-family: $header;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

span, p {
  font-family: $text;
}

.display-text {
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 16px;
}

a {
  font-family: $text;
}

input[type="text"] {
  font-family: $text;
}

input[type="submit"] {
  font-family: $header;
  padding: 13px 40px;
  text-transform: uppercase;
  font-size: 10px;
}

input[type="button"] {
  font-family: $header;
  padding: 8px 8px;
  text-transform: uppercase;
  font-size: 10px;
}

.no-fill-input {
  padding: 5px 3px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 0;
  border-bottom: 1px solid;
  display: block;
}

.no-fill-input::placeholder {
  text-transform: uppercase;
  font-size: 12px;
}

.white-input {
  padding: 12px;
  border-radius: 6px;
  background-color: white;
}

.white-input::placeholder {
  text-transform: uppercase;
  font-size: 12px;
}
