.category-icon-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin: 100px auto;
  padding: 0 40px;
}

.category-icon-text {
  text-align: center;
  margin: 20px 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: baseline;
  width: 80%;
}

.category-icon {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  transition: all .3s ease;
}

.icon-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 7px;
  border-bottom: 3px solid transparent;
}

.icon-links-wrapper:hover .category-icon {
  fill: $red;
  transform: scale(1.2);
}

.icon-links-wrapper:active .category-icon {
  fill: $lightest-red;
  transform: scale(.95);
}

.icon-links-wrapper:hover .icon-link {
  color: $red;
}

.icon-links-wrapper:active .icon-link {
  color: $red;
}

.icon-links-wrapper:hover {
  cursor: pointer;
}

.icon-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.mission-statement {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 200px auto;
}

.mission-left-art-cropper {
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  backface-visibility: hidden;
}

.mission-right-art-cropper {
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  backface-visibility: hidden;
}

.mission-right-art {
  position: absolute;
  right: -85px;
}

.mission-right-clouds {
  position: absolute;
  top: 50px;
  animation: infiniteslide 20s infinite;
  animation-timing-function: linear
}

.mission-left-art-background {
  height: 400px;
  position: absolute;
  left: -600px;
}

.mission-art-slide-animation {
  left: -1250px;
  animation: slide 6s linear;
  animation-timing-function: ease-in-out;
}

@keyframes infiniteslide {
  0% {
    left: -200px;
  }

  100% {
    left: 500px;
  }
}

@keyframes slide {
  0% {
    left: -600px;
  }

  10% {
    left: -600px;
  }

  100% {
    left: -1250px;
  }
}

@keyframes bounce {
  50% {
    bottom: 0;
  }

  100% {
    bottom: 1px;
  }
}

.mission-left-art-truck {
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 100px;
  animation: bounce .2s infinite;
}

.mission-text-wrapper {
  width: 40%;
}

.mission-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.mission-left-title {
  border-bottom: 10px solid $green;
}

.mission-right-title {
  border-bottom: 10px solid $red;
}

@media only screen and (min-width:1080px)  {
  .icons {
    width: 80%;
  }
  .category-icon-index {
    width: 1000px;
  }
}

@media only screen and (max-width:845px)  {
  .category-icon-index {
    width: 645px;
  }
  .icons {
    width: 100%;
  }
  .statement-right {
    flex-direction: column;
  }
  .statement-left {
    flex-direction: column-reverse;
  }
  .mission-text-wrapper {
    width: 60%;
    min-width: 400px;
    margin-top: 50px;
    text-align: center;
  }
  .mission-title {
    text-align: center;
  }
  .mission-statement {
    margin: 150px auto;
  }
  .mission-text {
    text-align: center;
  }
}
