
.navbar {
  width: 100%;
  background-color: $lightest-blue;
}

.arrow {
  fill: white
}

.titlebar {
  height: 65px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.search-bar-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.search-input-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
  box-sizing: border-box;
  margin-right: 30px;
}

.search-bar-input {
  border-bottom: 1px solid;
}

.mag-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.pin-icon {
  height: 18px;
  width: 18px;
  margin: 0 10px;
}

.search-categories-wrapper {
  display: flex;
  align-items: center;
}

.search-categories-ul {
  // display: flex;
  // min-height: 0;
  // min-width: 0;
  // margin: 0 10px;
  // overflow-x: hidden;
  width: 500px;
}

.search-arrow {
  height: 20px;
  width: 20px;
}

.search-arrow:hover {
  cursor: pointer;
}

.h-flip {
  transform: scaleX(-1);
}

.search-categories-ul a {
  cursor: pointer;
  font-family: $text;
  line-height: 12px;
  padding: 9px 0;
}

.search-categories-ul a:hover {
  border-bottom: 3px solid black;
  color: $red;
}
