.navbar {
  width: 100%;
  background-color: $lightest-blue;
}

.arrow {
  fill: white
}

.titlebar {
  height: 65px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.search-input-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
  box-sizing: border-box;
  margin-right: 30px;
}

.search-bar-input {
  border-bottom: 1px solid;
}

.mag-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.pin-icon {
  height: 18px;
  width: 18px;
  margin: 0 10px;
}

.search-categories-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.search-categories-ul {
  display: flex;
}

.search-arrow {
  height: 15px;
  width: 15px;
}

.h-flip {
  transform: scaleX(-1),
}

.search-category {
  margin-left: 10px;
  cursor: pointer;
  font-family: $text;
}
