.search-page-wrapper {
  display: flex;

}

.results-wrapper {
  width: 60%;
  height: calc(100vh - 125px);
  overflow: scroll;
}

.results-index {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 500px;
  align-items: center;
}

.results-index-item {
  display: flex;
  width: 90%;
  margin: 0 20px 20px 20px;
  border: 1px solid $gray;
  box-sizing: border-box;
  // box-shadow: 0 2px 1px rgba(25,25,25,0.2);
}

.results-index-item-text {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.results-index-thumbnail {
  width: 240px;
  height: 202px;
  // height: 121.469px;
  // width: 215.969px;
  display: auto;
  object-fit: cover;
}

.contact-info-wrapper {
  padding-top: 10px;
}

.result-index-item-text-wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  span {
    letter-spacing: 1px;
  }
}

.category-contact-wrapper {
  align-items: flex-end;
  flex: 1;
}

.category-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  vertical-align: bottom;
}

.contact-button {
  background-color: $purple;
  color: white;
  float: right;
  transition: transform .2s ease;
}

.contact-button:hover {
  transform: scale(1.1);
  background-color: $red;
}

.contact-button:active {
  transform: scale(1);
}

.map {
  height: calc(100vh - 125px);
  width: 40%;
  position: absolute;
}

.map-wrapper {
  height: 100%;
  width: 30%;
}

.result-idx-item-business-name {
  font-family: $header;
  text-align: left;
  font-size: 26px;
  text-transform: uppercase;
}

.result-idx-item-business-name:hover {
  color: $green;
  cursor: pointer;
}

.results-index-item-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
