.testimonial-section {
  background-color: $lightest-blue;
  padding: 40px 20px;
}

.testimonial {
  height: 80%;
  width: 300px;
  margin: 20px 20px;
  background-size: cover;
  transition: all .5s ease;
}

.testimonial:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.testimonial:active {
  transform: scale(1);
}

.testimonial-image {
  object-fit: cover;
  height: 160px;
  width: 100%;
}

.testimonial-text-wrapper {
  background-color: white;
  padding: 30px;
  height: 250px;
}

.testimonial-text {
  line-height: 26px;
}

.testimonial-bname {
  padding-bottom: 10px;
  border-bottom: 4px solid;
  margin-bottom: 10px;
}

.blank-div {
  height: 200px;
}

.testimonials-header {
  padding-bottom: 20px;
  margin-left: 100px;
  border-bottom: 10px solid;
  width: 800px;
}

.testimonials-wrapper {
  margin: 40px auto;
  overflow-x: scroll;
  display: -webkit-box;
  align-items: center;
}

.h-flip:hover {
  transform: scaleX(-1) scale(1.3);
}

.previous {
  left: 20px;
}

.next {
  right: 20px;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-info-wrapper {
  margin-bottom: 5px;
}
